body{
  /* background-color: turquoise; */
  padding: 20px;
} 

.heading{
  color: rgb(67, 245, 67);
  /* background-color: teal; */
}

.bbody{
  /* display: ; */
}

.dashboard{
  display: inline-block;
  /* background-color: black; */
  width: 75%;
  border: solid 2px;
}

.filter{
  display: inline-block;
  background-color: blue;
  margin: 10px;
  width: 20%;
  height: 100%;
}